.link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

.active {
  color: #ffee00;
}

.link:hover {
  border-bottom: #ffee00 1px solid;
  color: #ffee00;
  
}

